{
  "openapi": "3.1.0",
  "info": {
    "title": "Meshy API",
    "version": "1.0.0",
    "termsOfService": "https://www.meshy.ai/terms-of-use",
    "summary": "AI-powered 3D asset generation REST API.",
    "description": "The Meshy API lets you programmatically generate 3D models, textures, images, and character rigs/animations.\nScope: this specification covers the core generation, post-processing, printing and account endpoints. The Creative Lab APIs (keychain, fridge magnet, figure, vinyl figure, brick figure, lamp, keycap, collapsible fidget, fidget pixel) and the Text to Motion API are documented only on their pages at https://docs.meshy.ai/api/creative-lab-keychain and https://docs.meshy.ai/api/text-to-motion (see https://docs.meshy.ai/llms.txt for the full index); they are not part of this file.\n**Authentication.** All requests require an API key sent as a Bearer token: `Authorization: Bearer msy_YOUR_API_KEY`. Create keys at https://www.meshy.ai/settings/api.\n**Asynchronous model.** Generation endpoints do not return the result directly. A `POST` creates a task and returns `202 Accepted` with a task ID in `result`. Retrieve the outcome by polling `GET .../{id}` until `status` is terminal (`SUCCEEDED` / `FAILED` / `CANCELED`), or by connecting to the `GET .../{id}/stream` Server-Sent Events endpoint.\n**Base URL.** `https://api.meshy.ai/openapi`. This document is served at https://docs.meshy.ai/openapi.yaml (and `.json`); the human-readable reference lives at https://docs.meshy.ai.\n**Scope.** This specification covers the generally-available public endpoints. Endpoints still in development, partner-specific surfaces (creative-lab, d5), and legacy `/v1`,`/v2` path aliases are intentionally omitted.\n",
    "contact": {
      "name": "Meshy API Support",
      "url": "https://docs.meshy.ai"
    }
  },
  "externalDocs": {
    "description": "Meshy API documentation",
    "url": "https://docs.meshy.ai"
  },
  "servers": [
    {
      "url": "https://api.meshy.ai/openapi",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Text to 3D",
      "description": "Generate a 3D model from a text prompt."
    },
    {
      "name": "Image to 3D",
      "description": "Generate a 3D model from a single image."
    },
    {
      "name": "Multi-Image to 3D",
      "description": "Generate a 3D model from up to four images of one object."
    },
    {
      "name": "Retexture",
      "description": "Generate new textures for an existing model."
    },
    {
      "name": "Remesh",
      "description": "Re-topologize, resize, and re-export an existing model."
    },
    {
      "name": "Convert",
      "description": "Convert a model between file formats."
    },
    {
      "name": "Resize",
      "description": "Resize a model to a target real-world size."
    },
    {
      "name": "UV Unwrap",
      "description": "Generate a UV layout for a model."
    },
    {
      "name": "Rigging",
      "description": "Rig a humanoid or quadruped model with a skeleton."
    },
    {
      "name": "Animation",
      "description": "Apply a library animation to a rigged model."
    },
    {
      "name": "Text to Image",
      "description": "Generate a 2D image from a text prompt."
    },
    {
      "name": "Image to Image",
      "description": "Edit or restyle images from reference images."
    },
    {
      "name": "3D Print",
      "description": "Prepare, repair, and analyze models for 3D printing."
    },
    {
      "name": "Account",
      "description": "Account, credit-balance, and usage information."
    }
  ],
  "paths": {
    "/v2/text-to-3d": {
      "post": {
        "tags": [
          "Text to 3D"
        ],
        "operationId": "createTextTo3DTask",
        "summary": "Create a Text to 3D task",
        "description": "Creates a Text to 3D task. Use `mode: preview` to generate geometry, then `mode: refine` (with `preview_task_id`) to texture it; or omit `mode` and set `should_texture: true` for a single fused geometry+texture call. The `202` body additively includes the universal task object alongside `result`. Consumes credits (varies by model and options); see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextTo3DRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Text to 3D"
        ],
        "operationId": "listTextTo3DTasks",
        "summary": "List Text to 3D tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextTo3DTask"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v2/text-to-3d/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Text to 3D"
        ],
        "operationId": "getTextTo3DTask",
        "summary": "Retrieve a Text to 3D task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextTo3DTask"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Text to 3D"
        ],
        "operationId": "deleteTextTo3DTask",
        "summary": "Delete a Text to 3D task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v2/text-to-3d/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Text to 3D"
        ],
        "operationId": "streamTextTo3DTask",
        "summary": "Stream a Text to 3D task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/image-to-3d": {
      "post": {
        "tags": [
          "Image to 3D"
        ],
        "operationId": "createImageTo3DTask",
        "summary": "Create an Image to 3D task",
        "description": "Provide exactly one of `image_url` or `input_task_id`. Consumes credits (varies by model and options); see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageTo3DRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Image to 3D"
        ],
        "operationId": "listImageTo3DTasks",
        "summary": "List Image to 3D tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/image-to-3d/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Image to 3D"
        ],
        "operationId": "getImageTo3DTask",
        "summary": "Retrieve an Image to 3D task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Image to 3D"
        ],
        "operationId": "deleteImageTo3DTask",
        "summary": "Delete an Image to 3D task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/image-to-3d/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Image to 3D"
        ],
        "operationId": "streamImageTo3DTask",
        "summary": "Stream an Image to 3D task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/multi-image-to-3d": {
      "post": {
        "tags": [
          "Multi-Image to 3D"
        ],
        "operationId": "createMultiImageTo3DTask",
        "summary": "Create a Multi-Image to 3D task",
        "description": "Provide 1-4 images of the same object via `image_urls`, or reuse a prior task's images via `input_task_id`. Only Meshy 5 and newer are supported. Consumes credits (varies by model and options); see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiImageTo3DRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Multi-Image to 3D"
        ],
        "operationId": "listMultiImageTo3DTasks",
        "summary": "List Multi-Image to 3D tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/multi-image-to-3d/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Multi-Image to 3D"
        ],
        "operationId": "getMultiImageTo3DTask",
        "summary": "Retrieve a Multi-Image to 3D task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Multi-Image to 3D"
        ],
        "operationId": "deleteMultiImageTo3DTask",
        "summary": "Delete a Multi-Image to 3D task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/multi-image-to-3d/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Multi-Image to 3D"
        ],
        "operationId": "streamMultiImageTo3DTask",
        "summary": "Stream a Multi-Image to 3D task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/retexture": {
      "post": {
        "tags": [
          "Retexture"
        ],
        "operationId": "createRetextureTask",
        "summary": "Create a Retexture task",
        "description": "Provide exactly one of `input_task_id` or `model_url` (a GLB). Provide exactly one style source: `text_style_prompt`, `image_style_url`, or `multiview_image_urls`. Consumes credits (varies by model and resolution); see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetextureRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Retexture"
        ],
        "operationId": "listRetextureTasks",
        "summary": "List Retexture tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/retexture/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Retexture"
        ],
        "operationId": "getRetextureTask",
        "summary": "Retrieve a Retexture task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Retexture"
        ],
        "operationId": "deleteRetextureTask",
        "summary": "Delete a Retexture task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/retexture/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Retexture"
        ],
        "operationId": "streamRetextureTask",
        "summary": "Stream a Retexture task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/remesh": {
      "post": {
        "tags": [
          "Remesh"
        ],
        "operationId": "createRemeshTask",
        "summary": "Create a Remesh task",
        "description": "Provide exactly one of `input_task_id` or `model_url`. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemeshRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Remesh"
        ],
        "operationId": "listRemeshTasks",
        "summary": "List Remesh tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/remesh/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Remesh"
        ],
        "operationId": "getRemeshTask",
        "summary": "Retrieve a Remesh task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Remesh"
        ],
        "operationId": "deleteRemeshTask",
        "summary": "Delete a Remesh task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/remesh/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Remesh"
        ],
        "operationId": "streamRemeshTask",
        "summary": "Stream a Remesh task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/convert": {
      "post": {
        "tags": [
          "Convert"
        ],
        "operationId": "createConvertTask",
        "summary": "Create a Convert task",
        "description": "Convert a model to one or more formats. Provide exactly one of `input_task_id` or `model_url`; `target_formats` is required. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Convert"
        ],
        "operationId": "listConvertTasks",
        "summary": "List Convert tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/convert/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Convert"
        ],
        "operationId": "getConvertTask",
        "summary": "Retrieve a Convert task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Convert"
        ],
        "operationId": "deleteConvertTask",
        "summary": "Delete a Convert task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/convert/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Convert"
        ],
        "operationId": "streamConvertTask",
        "summary": "Stream a Convert task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/resize": {
      "post": {
        "tags": [
          "Resize"
        ],
        "operationId": "createResizeTask",
        "summary": "Create a Resize task",
        "description": "Provide exactly one of `input_task_id` or `model_url`, and at least one of `resize_height`, `resize_longest_side`, or `auto_size`. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResizeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Resize"
        ],
        "operationId": "listResizeTasks",
        "summary": "List Resize tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/resize/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Resize"
        ],
        "operationId": "getResizeTask",
        "summary": "Retrieve a Resize task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Resize"
        ],
        "operationId": "deleteResizeTask",
        "summary": "Delete a Resize task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/resize/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Resize"
        ],
        "operationId": "streamResizeTask",
        "summary": "Stream a Resize task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/uv-unwrap": {
      "post": {
        "tags": [
          "UV Unwrap"
        ],
        "operationId": "createUvUnwrapTask",
        "summary": "Create a UV Unwrap task",
        "description": "Generate a UV layout for a GLB. Provide exactly one of `input_task_id` or `model_url` (a GLB). Availability is limited; high-poly inputs must be remeshed first. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UvUnwrapRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "UV Unwrap"
        ],
        "operationId": "listUvUnwrapTasks",
        "summary": "List UV Unwrap tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/uv-unwrap/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "UV Unwrap"
        ],
        "operationId": "getUvUnwrapTask",
        "summary": "Retrieve a UV Unwrap task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "UV Unwrap"
        ],
        "operationId": "deleteUvUnwrapTask",
        "summary": "Delete a UV Unwrap task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/uv-unwrap/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "UV Unwrap"
        ],
        "operationId": "streamUvUnwrapTask",
        "summary": "Stream a UV Unwrap task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/rigging": {
      "post": {
        "tags": [
          "Rigging"
        ],
        "operationId": "createRiggingTask",
        "summary": "Create a Rigging task",
        "description": "Rig a model with a skeleton. Provide exactly one of `input_task_id` or `model_url` (a GLB). Models above 320,000 faces are rejected; remesh to a `target_polycount` of 300,000 or less first. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RiggingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Rigging"
        ],
        "operationId": "listRiggingTasks",
        "summary": "List Rigging tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RiggingTask"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/rigging/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Rigging"
        ],
        "operationId": "getRiggingTask",
        "summary": "Retrieve a Rigging task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiggingTask"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Rigging"
        ],
        "operationId": "deleteRiggingTask",
        "summary": "Delete a Rigging task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/rigging/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Rigging"
        ],
        "operationId": "streamRiggingTask",
        "summary": "Stream a Rigging task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/animations": {
      "post": {
        "tags": [
          "Animation"
        ],
        "operationId": "createAnimationTask",
        "summary": "Create an Animation task",
        "description": "Apply a library animation to a rigged model. `rig_task_id` must reference a completed Rigging task. See the Animation Library for valid `action_id` values. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnimationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Animation"
        ],
        "operationId": "listAnimationTasks",
        "summary": "List Animation tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnimationTask"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/animations/library": {
      "get": {
        "tags": [
          "Animation"
        ],
        "operationId": "listAnimationLibrary",
        "summary": "List the animation library",
        "description": "Return every preset action that can be applied via `action_id`, each with an animated GIF preview. Free; consumes no credits. The whole library comes back in one response rather than paginated, so a single call can populate a picker.\n",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive substring match on `name` or `key`. Matched literally, so `%` and `_` are ordinary characters rather than wildcards.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Exact match on `category`.",
            "schema": {
              "type": "string",
              "enum": [
                "WalkAndRun",
                "BodyMovements",
                "DailyActions",
                "Fighting",
                "Dancing"
              ]
            }
          },
          {
            "name": "sub_category",
            "in": "query",
            "description": "Exact match on `sub_category`. Accepted on its own; sub-category names are not unique across categories.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_ids",
            "in": "query",
            "description": "Comma-separated `action_id` values to return, at most 200. Ids that no animation carries are absent from the response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The animation library.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnimationLibraryItem"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/animations/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Animation"
        ],
        "operationId": "getAnimationTask",
        "summary": "Retrieve an Animation task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimationTask"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Animation"
        ],
        "operationId": "deleteAnimationTask",
        "summary": "Delete an Animation task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/animations/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Animation"
        ],
        "operationId": "streamAnimationTask",
        "summary": "Stream an Animation task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/text-to-image": {
      "post": {
        "tags": [
          "Text to Image"
        ],
        "operationId": "createTextToImageTask",
        "summary": "Create a Text to Image task",
        "description": "Generate a 2D image from a prompt. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToImageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Text to Image"
        ],
        "operationId": "listTextToImageTasks",
        "summary": "List Text to Image tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageGenerationTask"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/text-to-image/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Text to Image"
        ],
        "operationId": "getTextToImageTask",
        "summary": "Retrieve a Text to Image task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationTask"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Text to Image"
        ],
        "operationId": "deleteTextToImageTask",
        "summary": "Delete a Text to Image task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/text-to-image/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Text to Image"
        ],
        "operationId": "streamTextToImageTask",
        "summary": "Stream a Text to Image task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/image-to-image": {
      "post": {
        "tags": [
          "Image to Image"
        ],
        "operationId": "createImageToImageTask",
        "summary": "Create an Image to Image task",
        "description": "Edit or restyle from 1-5 reference images, supplied directly or chained from a prior image task with input_task_id. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToImageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Image to Image"
        ],
        "operationId": "listImageToImageTasks",
        "summary": "List Image to Image tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageGenerationTask"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/image-to-image/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Image to Image"
        ],
        "operationId": "getImageToImageTask",
        "summary": "Retrieve an Image to Image task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationTask"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Image to Image"
        ],
        "operationId": "deleteImageToImageTask",
        "summary": "Delete an Image to Image task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/image-to-image/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "Image to Image"
        ],
        "operationId": "streamImageToImageTask",
        "summary": "Stream an Image to Image task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/print/multi-color": {
      "post": {
        "tags": [
          "3D Print"
        ],
        "operationId": "createPrintMultiColorTask",
        "summary": "Create a Multi-Color Print task",
        "description": "Generate a multi-color 3MF for color 3D printing. Provide exactly one of `input_task_id` or `model_url` (GLB or FBX). Availability is limited. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintMultiColorRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "listPrintMultiColorTasks",
        "summary": "List Multi-Color Print tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/multi-color/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "getPrintMultiColorTask",
        "summary": "Retrieve a Multi-Color Print task",
        "responses": {
          "200": {
            "description": "The task. On success, `model_urls.3mf` holds the result.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "3D Print"
        ],
        "operationId": "deletePrintMultiColorTask",
        "summary": "Delete a Multi-Color Print task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/multi-color/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "streamPrintMultiColorTask",
        "summary": "Stream a Multi-Color Print task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/print/split": {
      "post": {
        "tags": [
          "3D Print"
        ],
        "operationId": "createPrintSplitTask",
        "summary": "Create an Auto Split task",
        "description": "Split the Meshy 6 / Meshy 7 model of a prior task into separately printable parts — automatically, by named parts, or by color region — with optional connectors (thin regions are always reinforced). The result is untextured: the cut rebuilds the surfaces and drops any input texture. Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintSplitRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "listPrintSplitTasks",
        "summary": "List Auto Split tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/split/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "getPrintSplitTask",
        "summary": "Retrieve an Auto Split task",
        "responses": {
          "200": {
            "description": "The task. On success, `model_urls` holds one URL per requested format, `part_count` the number of printable parts. Auto Split tasks omit the generation-prompt fields, `model_url` and `texture_urls`, which they never populate.\n",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "3D Print"
        ],
        "operationId": "deletePrintSplitTask",
        "summary": "Delete an Auto Split task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/split/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "streamPrintSplitTask",
        "summary": "Stream an Auto Split task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/print/repair": {
      "post": {
        "tags": [
          "3D Print"
        ],
        "operationId": "createPrintRepairTask",
        "summary": "Create a Print Repair task",
        "description": "Repair a model for printing; the repaired asset is returned in the input format. Provide exactly one of `input_task_id` or `model_url` (GLB, glTF, OBJ, FBX, or STL). Consumes credits; see https://docs.meshy.ai for pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintRepairRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "listPrintRepairTasks",
        "summary": "List Print Repair tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/repair/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "getPrintRepairTask",
        "summary": "Retrieve a Print Repair task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "3D Print"
        ],
        "operationId": "deletePrintRepairTask",
        "summary": "Delete a Print Repair task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/repair/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "streamPrintRepairTask",
        "summary": "Stream a Print Repair task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/print/analyze": {
      "post": {
        "tags": [
          "3D Print"
        ],
        "operationId": "createPrintAnalyzeTask",
        "summary": "Create a Printability Analysis task",
        "description": "Analyze a model's printability (watertightness, manifold edges, holes, etc.). Provide exactly one of `input_task_id` or `model_url` (GLB, glTF, OBJ, FBX, or STL). This endpoint is free (no credits).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintAnalyzeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/TaskCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "listPrintAnalyzeTasks",
        "summary": "List Printability Analysis tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNum"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrintAnalyzeTask"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/analyze/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "getPrintAnalyzeTask",
        "summary": "Retrieve a Printability Analysis task",
        "responses": {
          "200": {
            "description": "The task.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/PollRetryAfter"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintAnalyzeTask"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "3D Print"
        ],
        "operationId": "deletePrintAnalyzeTask",
        "summary": "Delete a Printability Analysis task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/print/analyze/{id}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TaskId"
        }
      ],
      "get": {
        "tags": [
          "3D Print"
        ],
        "operationId": "streamPrintAnalyzeTask",
        "summary": "Stream a Printability Analysis task (SSE)",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskStream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getBalance",
        "summary": "Get credit balance",
        "description": "Returns the total available credit balance for the API key's account.",
        "responses": {
          "200": {
            "description": "The current balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/usage/tasks": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "listUsageRecords",
        "summary": "List usage records",
        "description": "Returns one page of the team's API tasks with the credits each one consumed, newest first by default. Requires an API key belonging to a Studio or Enterprise team. Records cover tasks that have reached a terminal status; with no explicit time range the window is the last 30 days.\n",
        "parameters": [
          {
            "name": "page_num",
            "in": "query",
            "required": false,
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 255,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Items per page (max 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort key; `created_at` is the only sortable column.",
            "schema": {
              "type": "string",
              "enum": [
                "+created_at",
                "-created_at"
              ],
              "default": "-created_at"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Start of the `created_at` window, RFC 3339. Defaults to 30 days before `end_time`. The window may span at most 1 year.\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "End of the `created_at` window, RFC 3339. Defaults to the current time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endpoints",
            "in": "query",
            "required": false,
            "description": "Comma-separated endpoint names to include, using the same values the `endpoint` response field carries (e.g. `image-to-3d,animate`). Omit to include every endpoint; an unknown name is rejected with 400.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by terminal task status. Omit to include both.",
            "schema": {
              "type": "string",
              "enum": [
                "SUCCEEDED",
                "FAILED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of usage records, newest first by default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UsageRecord"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Send your API key as a Bearer token: `Authorization: Bearer msy_YOUR_API_KEY`. Keys are created at https://www.meshy.ai/settings/api and have the form `msy_<random>`.\n"
      }
    },
    "parameters": {
      "TaskId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Task ID (UUID).",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "PageNum": {
        "name": "page_num",
        "in": "query",
        "required": false,
        "description": "Page number (1-based).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Items per page (max 10).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 10,
          "default": 3
        }
      },
      "SortBy": {
        "name": "sort_by",
        "in": "query",
        "required": false,
        "description": "Sort key; a leading `-` sorts descending (e.g. `-created_at`). The sortable columns depend on the endpoint.\n",
        "schema": {
          "type": "string",
          "default": "-created_at"
        }
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "description": "Requests allowed per second on the caller's tier.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "XRateLimitRemaining": {
        "description": "Requests left in the current second.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "XRateLimitReset": {
        "description": "Seconds until the request budget is full again.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying. Sent with a request-rate 429.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PollRetryAfter": {
        "description": "Seconds to wait before polling again. Sent while the task is PENDING or IN_PROGRESS.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      }
    },
    "responses": {
      "TaskCreated": {
        "description": "Task accepted for processing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateTaskResponse"
            }
          }
        }
      },
      "TaskDeleted": {
        "description": "Task deleted.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "TaskStream": {
        "description": "A Server-Sent Events stream. Each `message` event's `data` is a JSON task object of the same shape returned by the corresponding `GET .../{id}`, emitted as the task progresses until a terminal status.\n",
        "content": {
          "text/event-stream": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Insufficient credits or plan tier.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key's team plan does not include this endpoint, or the key has no team.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found (or the feature is not available to this account).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "The resource exists but its current state does not allow the operation. Returned when deleting a task that is already IN_PROGRESS: credits for work the worker has started are not refundable, so the task is left running rather than deleted for nothing. Retry once the task reaches SUCCEEDED, FAILED or CANCELED.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request was well-formed but could not be processed (e.g. pose estimation failed).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error body for the public API.",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "required": [
          "message"
        ]
      },
      "CreateTaskResponse": {
        "type": "object",
        "description": "Returned with `202 Accepted` when a task is created. `result` is the new task ID. (On `POST /v2/text-to-3d` the body additively includes the full universal task object alongside `result`.)\n",
        "properties": {
          "result": {
            "type": "string",
            "description": "The created task's ID."
          }
        },
        "required": [
          "result"
        ]
      },
      "TaskStatus": {
        "type": "string",
        "description": "Task lifecycle status.",
        "enum": [
          "PENDING",
          "IN_PROGRESS",
          "SUCCEEDED",
          "FAILED",
          "CANCELED"
        ]
      },
      "TaskError": {
        "type": "object",
        "description": "Populated when a task fails.",
        "properties": {
          "type": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "doc_url": {
            "type": "string",
            "description": "Link to relevant documentation."
          }
        },
        "required": [
          "message"
        ]
      },
      "ModelURLs": {
        "type": "object",
        "description": "Download URLs for the generated model, keyed by format. Only produced formats are present.",
        "properties": {
          "glb": {
            "type": "string",
            "format": "uri"
          },
          "fbx": {
            "type": "string",
            "format": "uri"
          },
          "gltf": {
            "type": "string",
            "format": "uri"
          },
          "usdz": {
            "type": "string",
            "format": "uri"
          },
          "obj": {
            "type": "string",
            "format": "uri"
          },
          "mtl": {
            "type": "string",
            "format": "uri"
          },
          "vox": {
            "type": "string",
            "format": "uri"
          },
          "blend": {
            "type": "string",
            "format": "uri"
          },
          "stl": {
            "type": "string",
            "format": "uri"
          },
          "3mf": {
            "type": "string",
            "format": "uri"
          },
          "pre_remeshed_glb": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "TextureURL": {
        "type": "object",
        "description": "A set of PBR texture map URLs.",
        "properties": {
          "base_color": {
            "type": "string",
            "format": "uri"
          },
          "metallic": {
            "type": "string",
            "format": "uri"
          },
          "roughness": {
            "type": "string",
            "format": "uri"
          },
          "normal": {
            "type": "string",
            "format": "uri"
          },
          "emission": {
            "type": "string",
            "format": "uri"
          },
          "metallic_roughness": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "base_color"
        ]
      },
      "ExperimentalParams": {
        "type": "object",
        "description": "Experimental toggles. Subject to change.",
        "properties": {
          "turbo": {
            "type": "boolean",
            "description": "Turbo (fast) mode."
          },
          "enable_tsr": {
            "type": "boolean",
            "description": "Fast-mode TSR option (only meaningful with turbo)."
          },
          "optimize_texture_seams": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Fast-mode texture-seam optimization (only meaningful with turbo)."
          }
        }
      },
      "TextTo3DRequest": {
        "type": "object",
[...]
